<div id="one">
  <nav style="background-color: #3f51b5; height: 65px; border: 0px solid;" class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="https://bookcart.azurewebsites.net/" role="button">
      <fa-icon [icon]="['fas', 'bookmark']" style="color:white; font-size: 21px; margin-left: 8px;"></fa-icon> Book Cart
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-inline" style="margin-left: 200px;">
        <input style="width:390px; height: 33px; font-size: 20px; border: 0px; border-radius: 3px; padding: 12px;"
          type="search" placeholder="Search books or authors">
      </form>

      <fa-icon [icon]="['fas', 'heart']" style="cursor: pointer; color:white; font-size: 23px; margin-left: 370px;"></fa-icon>
      <fa-icon [icon]="['fas', 'shopping-cart']" style="cursor: pointer; color:white; font-size: 22px; margin-left:20px;"></fa-icon>

      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a style="color: white" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

            <fa-icon [icon]="['fas', 'user-circle']" style="font-size: 24px; margin-left:10px;"></fa-icon> <span
              style="font-family:'Franklin Gothic Medium'; font-size: 17px;"> hihowareyou</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" *ngFor="let item of items; let i = index" [href]="item.url">{{item.name}}</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
